
.App {
  display: flex;
  flex-direction: column;
}


.header {
  background-color: aqua;
  height: 300px;
  width: 100%;
  background-image: url(./Images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerText{
  margin: 50px;
}

.headerText>h1{
  font-size: 55px;
}

.headerText>h2{
  font-size: 25px;
}

.sales{
  background-color: rgb(49, 49, 211);
  color: white;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}




.between{
  padding: 25px;
  display: flex;
  justify-content: space-between;
}


.wrap {
 height: 50%;
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

.sunglassesContain {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 250px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 5px 10px 10px 5px gray;
}

img.sunglasses{
width: 90%;
}

.sunglassesCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid; */
}

.wrap>button{
  margin-top: 20px;
  height: 350px;
  width: 20px;
}

.contactWrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact1{
  display: flex;
  flex-direction: column;
  margin: 100px;
  width: 25%;
}

.contact1>p{
  margin: 10px;
}

.contact1>h1{
  font-size: 40px;
  margin: 10px;
  align-self: center;
}

.contact2{
  margin-top: 100px;
  position: relative;
  width: 500px;
  height: 450px;
  box-sizing: border-box;
  padding: 10px;

}

.contact2:after{

  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: rgb(53, 98, 243);
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewX(-5deg);
  
}



.contact2>form{
  display: flex;
  flex-direction: column;
  padding: 50px;
  
}

.contact2>form>h2{
  font-size: 12px;
}

.contact2>form>input{
  margin-bottom: 15px;
}

.contact2>form>button{
  height: 40px;
  background-color:rgb(53, 98, 243); 
  color: white;
  border-color: white;
}

.message{
  height: 100px;
  margin-bottom: 15px;
  
}